################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AVLBinarySearchTree/.vs/AVLBinarySearchTree/v16/Server/sqlite3
/AVLBinarySearchTree/.vs/AVLBinarySearchTree/v16
